* {
    box-sizing: border-box;
}
body {
    width:900px;
    margin: auto;
    background-color: antiquewhite;

}
nav ul {
    list-style-type: none;
    padding: 5px;
}
nav li {
    padding: 5px;
    display: inline;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}
img {
    width: 100%;
}
div {
    background-color: white;
    padding: 5px;
    
}
main {
    grid-template-areas: 
    
    

    
    
    ;
}
nav a {
    text-decoration: none;
}